.jumbotron
{
            max-width: 375px;
            padding: 15px;
            margin: 0 auto;
            color: #1a1a1a;
            margin-top: 40px;
    
}

h2
{
    text-align: center;
}

#new_user
{
    margin-top: 10px;
    text-align: center;
}


p
{
    text-decoration-color: red;
}